/* ############################## */
/* ########## General ########### */
/* ############################## */

.path-mod-vpl .secondary-navigation .dropdown-menu {
    min-width: max-content;
}

#page-mod-vpl-views-previoussubmissionslist .table-responsive,
#page-mod-vpl-views-submissionslist .table-responsive {
    overflow: visible;
}

/* ############################## */
/* ######### Blue theme ######### */
/* ############################## */

.path-mod-vpl .vpl_ide.vpl_theme_modernblue {
    --vpl-interface-theme-primary: #1177d1;
    --vpl-interface-theme-secondary: white;
    --vpl-interface-theme-ternary: #5cf;
    --vpl-interface-theme-highlight: #4ae;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-widget-header,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-button,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-button:hover,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-button:focus,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .vpl_ide_tabs li[role="tab"]:not(.ui-state-active) {
    background-color: var(--vpl-interface-theme-primary);
    background-image: none;
    border: none;
    color: var(--vpl-interface-theme-secondary);
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .vpl_ide_results .ui-accordion-header {
    background-image: none;
    background-color: white;
    color: black;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .vpl_ide_tabs li[role="tab"].ui-state-hover,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-button:not(.delayed):hover {
    background-color: var(--vpl-interface-theme-highlight);
}

.path-mod-vpl div.vpl_ide:not(.vpl_theme_default) a.ui-button,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .vpl_ide_tabs li[role="tab"]:not(.ui-state-active) a {
    color: var(--vpl-interface-theme-secondary);
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) #vpl_menu .ui-button i {
    min-width: .75em;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-corner-all,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default).ui-corner-all,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-corner-left,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-corner-right,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-corner-top,
.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .ui-corner-bottom {
    border-radius: 0;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .vpl_ide_charicon {
    color: var(--vpl-interface-theme-ternary);
    text-shadow: none;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) .vpl_ide_accordion_c_comments .ui-widget-header {
    padding: 1px 3px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) #vpl_ide_shrightpanel {
    color: var(--vpl-interface-theme-primary);
    background: initial;
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_default) #vpl_ide_shrightpanel .fa-caret-square-o-left {
    color: var(--vpl-interface-theme-secondary);
}

.path-mod-vpl .vpl_ide:not(.vpl_theme_custom) .custom-theme-colorpicker {
    display: none;
}

.path-mod-vpl .vpl_ide .admin_colourpicker {
    position: relative;
}

.path-mod-vpl .vpl_ide .colourdialogue {
    cursor: crosshair;
}

.path-mod-vpl .vpl_ide .currentcolour {
    border-top-width: 1px;
}

.path-mod-vpl .vpl_ide .colourdialogue:not(:hover) + .previewcolour {
    display: none;
}

.path-mod-vpl .vpl_ide .previewcolour {
    position: absolute;
    z-index: 600;
    margin: 0;
    border-radius: 50px;
}

/* Dotted focus line removal */
.path-mod-vpl .ui-button-icon-only {
    outline: none;
}

/* ############################## */
/* ##### Submissions charts ##### */
/* ############################## */

.path-mod-vpl .chart-area {
    width: 50%;
    display: inline-block;
}

.path-mod-vpl .chart-area .chart-image {
    width: 100%;
}

.path-mod-vpl.pagelayout-incourse .chart-area.nograph b {
    font-size: .9em;
}

.path-mod-vpl .chart-area canvas {
    width: 100%;
    height: 100%;
}

/* ############################## */
/* # Submissions list highlight # */
/* ############################## */

.path-mod-vpl .gradehighlight {
    background-color: yellow;
    color: black;
}

/* ############################## */
/* ######### IDE styles ######### */
/* ############################## */

.path-mod-vpl .vpl_ide_root_fullscreen {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1040;
}

.path-mod-vpl.vpl_body_fullscreen {
    overflow: hidden;
}

/* Using vpl_body_fullscreen class to get fullscreen */
.path-mod-vpl.vpl_body_fullscreen .block,
.path-mod-vpl.vpl_body_fullscreen header,
.path-mod-vpl.vpl_body_fullscreen #dock,
.path-mod-vpl.vpl_body_fullscreen .back-to-top,
.path-mod-vpl.vpl_body_fullscreen #nav-drawer,
.path-mod-vpl.vpl_body_fullscreen nav,
.path-mod-vpl.vpl_body_fullscreen .d-print-none {
    display: none;
    visibility: hidden;
}

.path-mod-vpl .vpl_ide_dialog {
    z-index: 1049;
}
.path-mod-vpl #vpl_ide_dialog_about {
    width: 400px;
    height: 260px;
}
.path-mod-vpl #vpl_menu .ui-button-text-only,
.path-mod-vpl #vpl_menu .ui-button-text {
    padding: 0.4em;
}

.path-mod-vpl #vpl_ide_run.delayed::before,
.path-mod-vpl #vpl_ide_debug.delayed::before,
.path-mod-vpl #vpl_ide_evaluate.delayed::before {
    background: conic-gradient(transparent var(--delayoverlayangle, 0deg), rgba(60,60,60,0.5) 0 0);
    content: "";
    width: var(--delayoverlaywidth, 100%);
    height: var(--delayoverlayheight, 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.path-mod-vpl .vpl_ide_menu {
    font-size: 110%;
    min-width: 340px;
    padding: 0.2em;
}

.path-mod-vpl .vpl_ide_tr {
    border: 0;
    margin: 0;
    min-width: 330px;
    padding: 0;
    position: relative;
    width: 100%;
}

.path-mod-vpl #vpl_filelist {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

.path-mod-vpl #vpl_filelist_header {
    padding-left: 0.5em;
}

.path-mod-vpl #vpl_filelist_content {
    overflow: auto;
    padding-left: 0.5em;
    white-space: pre;
}

.path-mod-vpl .vpl_ide_dirindent {
    display: inline-block;
    width: 1.5em;
}

.path-mod-vpl .vpl_ide_tabs {
    position: absolute;
    top: 0;
}

.path-mod-vpl #vpl_tabs_scroll {
    overflow: auto hidden;
}

.path-mod-vpl .vpl_ide_tabs li[role="tab"] {
    line-height: 1ex;
}

.path-mod-vpl .vpl_ide_charicon {
    color: gray;
}

.path-mod-vpl .vpl_ide_closeicon {
    color: white;
    text-shadow:
        1px 0 1px gray,
        0 1px 1px gray,
        0 -1px 1px gray,
        -1px 0 1px gray;
}

.path-mod-vpl .vpl_ide_closeicon:hover {
    color: gray;
    text-shadow: none;
}

.path-mod-vpl div.vpl_ide_dialog_content {
    height: 250px;
    overflow: scroll;
    width: 350px;
}

.path-mod-vpl .vpl_ide,
.path-mod-vpl .vpl_ide .ui-widget,
.path-mod-vpl .vpl_ide .ui-widget-content {
    font-size: 12px;
}

.path-mod-vpl .vpl_ide .ui-dialog-titlebar {
    font-size: 13px;
    padding: 0 1em 0 1em;
}

.path-mod-vpl .vpl_ide .ui-button {
    font-size: 14px;
}

.path-mod-vpl .ui-tabs .ui-tabs-panel {
    padding: 0;
}

.path-mod-vpl .vpl_ide div.ui-dialog-titlebar {
    padding: 0.15em;
}

.path-mod-vpl .vpl_ide_status {
    bottom: 2px;
    right: 2px;
    border: 1px;
    margin: 0;
    padding: 0;
    font-size: 80%;
    z-index: 100;
    position: absolute;
    display: none;
    opacity: 0.8;
}

.path-mod-vpl .vpl_ide_file,
.path-mod-vpl .vpl_ide_file * { /* Resolve problem with essential theme */
    font-family:
        'Monaco',
        'Menlo',
        'Ubuntu Mono',
        'Consolas',
        'source-code-pro',
        monospace;
}

.path-mod-vpl .vpl_ide_file {
    margin: 2px;
}

.path-mod-vpl .nomargin > * {
    margin: 0;
}

.path-mod-vpl .vpl_ide_results {
    height: 100%;
    width: 20%;
    min-width: 130px;
    position: absolute;
    right: 0;
    top: 0;
}

.path-mod-vpl .vpl_ide_results a {
    padding: 1px 2px;
    font-weight: bold;
    color: var(--primary);
}

.path-mod-vpl .vpl_ide_results pre {
    line-height: 100%;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.path-mod-vpl .vpl_ide_progressbar {
    min-width: 100px;
    position: relative;
}

.path-mod-vpl .ace_gutter-tooltip {
    white-space: pre-wrap;
}

.path-mod-vpl .vpl_ide_accordion_c_compilation,
.path-mod-vpl .vpl_ide_accordion_c_execution {
    font-family:
        'Monaco',
        'Menlo',
        'Ubuntu Mono',
        'Consolas',
        'source-code-pro',
        monospace;
    max-width: 120em;
    white-space: pre;
}

.path-mod-vpl .vpl_ide_accordion_c_description a,
.path-mod-vpl .vpl_ide_accordion_c_comments a,
.path-mod-vpl .vpl_ide_accordion_c_compilation a {
    border-style: none;
}

.path-mod-vpl .vpl_ide .vpl_ide_accordion_t_grade {
    padding-right: 2em;
}

.path-mod-vpl .vpl_vnc {
    position: fixed;
    width: auto;
    z-index: 1050;
}

.path-mod-vpl .vpl_vnc .ui-dialog-content {
    padding: 0;
}

.path-mod-vpl .vpl_noVNC_canvas {
    cursor: none;
    height: 600px;
    width: 800px;
}

.path-mod-vpl .vpl_vnc .ui-button-text-only .ui-button-text {
    padding: 0.15em;
}

.path-mod-vpl #vpl_dialog_terminal {
    display: none;
}

.path-mod-vpl .vpl_terminal {
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 1050;
}

.path-mod-vpl .vpl_clipboard {
    display: none;
    z-index: 1060;
}

.path-mod-vpl .vpl_clipboard_label1.ui-button-text,
.path-mod-vpl .vpl_clipboard_label1.ui-button-text {
    padding: 0.15em;
}

.path-mod-vpl .vpl_clipboard .vpl_clipboard_entry1,
.path-mod-vpl .vpl_clipboard .vpl_clipboard_entry2 {
    height: 50px;
    width: 200px;
}

/*Resolve problem with essential theme*/
.path-mod-vpl pre.vpl_terminal * {
    border: 0;
    font: 1em/1.2 "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    margin: 0;
    padding: 0;
}

.path-mod-vpl pre.vpl_terminal {
    display: inline-block;
    font: 1em/1.2 "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    font-size: 12px;
    padding: 2px;
}

.path-mod-vpl .vpl_ide .vpl_ide_menu .vpl_timeleft_medium,
.path-mod-vpl .vpl_ide .vpl_ide_menu .vpl_timeleft_medium:focus:not(:hover) {
    background: orange;
}
.path-mod-vpl .vpl_ide .vpl_ide_menu .vpl_timeleft_critical,
.path-mod-vpl .vpl_ide .vpl_ide_menu .vpl_timeleft_critical:focus:not(:hover) {
    background: red;
}
.path-mod-vpl .vpl_ide .vpl_ide_menu .vpl_timeleft_over,
.path-mod-vpl .vpl_ide .vpl_ide_menu .vpl_timeleft_over:focus:not(:hover) {
    background: black;
}

.path-mod-vpl #vpl_ide_timeleft span {
    padding-left: .3em;
    font-size: .8em;
}

.path-mod-vpl .vpl_bt_extrahtml {
    font-weight: 550;
}

.path-mod-vpl .diff-w-rf {
    background-color: #aaa;
}

.path-mod-vpl .monaco-editor .diff-w-rf {
    width: 5px !important;
    margin-left: 2px;
}

.path-mod-vpl label[for="vpl_donotshowagain"] {
    font-size: 95%;
}

.path-mod-vpl .vpl_ide .switch-editor {
    font-size: 1em;
}

.path-mod-vpl .nb-notebook {
    height: 100%;
    overflow-y: auto;
    padding: 1.2em .5em 0 5.5em;
    white-space: initial;
}

.path-mod-vpl .nb-notebook :not(pre, .nb-notebook pre *, .katex *) {
    font-family: Verdana, Arial, sans-serif;
}

/* ############################## */
/* #### Jail servers, index  #### */
/* ############################## */
.path-mod-vpl .vpl_server_failed,
.path-mod-vpl .vpl_nm {
    background-color: red;
    color: white;
}

/* ############################## */
/* ###### Syntax highlight ###### */
/* ############################## */
.path-mod-vpl .vpl_g,
.path-mod-vpl .vpl_g * {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    line-height: normal;
    white-space: pre;
    word-wrap: normal;
}

.path-mod-vpl .vpl_show_hide_content {
    margin-left: 10px;
    white-space: pre-line;
}

/* ############################## */
/* ######### Similarity ######### */
/* ############################## */
.path-mod-vpl .sim_details .ace_cursor {
    display: none;
}

.path-mod-vpl .sim_details .sim-gutter .ace_scroller {
    background-color: #ddd;
}

.path-mod-vpl .sim_details .sim-col {
    width: 3em;
}

.path-mod-vpl .sim_details .sim-file {
    width: 45%;
}

/* ############################## */
/* ##### Similarity levels  ##### */
/* ############################## */
.path-mod-vpl .vpl_sim {
    font-size: small;
    height: 3em;
}

.path-mod-vpl .vpl_sim a {
    color: inherit;
}

.path-mod-vpl .vpl_sim0 {
    color: white;
    background-color: #f00;
}

.path-mod-vpl .vpl_sim1 {
    color: white;
    background-color: #ff1010;
}

.path-mod-vpl .vpl_sim2 {
    color: white;
    background-color: #ff2828;
}

.path-mod-vpl .vpl_sim3 {
    color: white;
    background-color: #ff4040;
}

.path-mod-vpl .vpl_sim4 {
    color: white;
    background-color: #ff5858;
}

.path-mod-vpl .vpl_sim5 {
    color: white;
    background-color: #ff7070;
}

.path-mod-vpl .vpl_sim6 {
    color: black;
    background-color: #f88;
}

.path-mod-vpl .vpl_sim7 {
    color: black;
    background-color: #ffa0a0;
}

.path-mod-vpl .vpl_sim8 {
    color: black;
    background-color: #ffb8b8;
}

.path-mod-vpl .vpl_sim9 {
    color: black;
    background-color: #ffd0d0;
}

.path-mod-vpl .vpl_sim10 {
    color: black;
    background-color: #ffe8e8;
}

.path-mod-vpl .vpl_sim11 {
    color: black;
    background-color: #fff;
}

/* ############################## */
/* ###### Terminal themes  ###### */
/* ############################## */
.path-mod-vpl .vpl_terminal_theme1 div {
    background-color: white;
    color: black;
}

.path-mod-vpl .vpl_terminal_theme1 .reverse-video {
    background-color: black;
    color: white;
}

.path-mod-vpl .vpl_terminal_theme2 div {
    background-color: navy;
    color: yellow;
}

.path-mod-vpl .vpl_terminal_theme2 .reverse-video {
    background-color: yellow;
    color: navy;
}

.path-mod-vpl .vpl_terminal_theme3 div {
    background-color: blue;
    color: white;
}

.path-mod-vpl .vpl_terminal_theme3 .reverse-video {
    background-color: white;
    color: blue;
}

.path-mod-vpl .vpl_terminal_theme4 div {
    background-color: red;
    color: #0ff;
}

.path-mod-vpl .vpl_terminal_theme4 .reverse-video {
    background-color: #0ff;
    color: red;
}

/* ############################## */
/* ######### Overrides  ######### */
/* ############################## */
.path-mod-vpl .override-option .col-md-3 {
    height: 0;
}

.path-mod-vpl .override-option .fdate_time_selector div:nth-child(3) {
    break-after: always;
}

.path-mod-vpl #vpl_override_options_form #fgroup_id_buttonar {
    display: none;
}

/* ############################## */
/* ######### Edit form  ######### */
/* ############################## */
.path-mod-vpl .form-check-inline ~ .inline-help-button {
    position: relative;
    left: -.5rem;
}

/* ############################## */
/* ######### Webservice ######### */
/* ############################## */

.path-mod-vpl .spoiler {
    position: relative;
    display: inline-block;
}

.path-mod-vpl .spoiler .hider {
    background-color: #444;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.path-mod-vpl .spoiler .hider:hover {
    color: #eee;
}

.path-mod-vpl .crypted {
    font-size: 0;
}

.path-mod-vpl .cryptchar:before {
    content: '•';
}

/* ############################## */
/* #### Corrected files dir ##### */
/* ############################## */
.path-mod-vpl .dirname-inline {
    font-family: var(--font-family-monospace);
    background-color: #e4e4e4;
    color: black;
    padding: .1em .3em;
}
