{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vpl/overrideactions

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * iseditingcurrent Whether current override row is the one being edited.
    * noedit Whether no override row is currently being edited.
    * id VPL ID.
    * sesskey Current session key.
    * overrideid Current override row.
    * deletebuttonid HTML ID attribute for the delete button.

    Example context (json):
    {
        "iseditingcurrent": false,
        "noedit": true,
        "id": 2,
        "sesskey": "000000",
        "overrideid": 1,
        "deletebuttonid": "delete_override_1"
    }
}}
{{# iseditingcurrent}}
<span class="btn-link clickable" onclick="VPL.submitOverrideForms();">{{# pix}} save, mod_vpl, {{# str}} save {{/ str}} {{/ pix}}</span>{{!
}}<span class="btn-link clickable" onclick="VPL.cancelOverrideForms();">{{# pix}} cancel, mod_vpl, {{# str}} cancel {{/ str}} {{/ pix}}</span>
{{/ iseditingcurrent}}
{{# noedit}}
<a href="?id={{id}}&edit={{overrideid}}">{{# pix}} editthis, mod_vpl, {{# str}} edit {{/ str}} {{/ pix}}</a>{{!
}}<form method="post" style="display:none;">
    <input name="id" type="hidden" value="{{id}}">
    <input name="sesskey" type="hidden" value="{{sesskey}}">
    <input name="delete" type="hidden" value="{{overrideid}}">
    <input id="{{deletebuttonid}}" type="submit">
</form>{{!
}}<span class="btn-link clickable" onclick="document.getElementById('{{deletebuttonid}}').click();">{{# pix}} delete, mod_vpl, {{# str}} delete {{/ str}} {{/ pix}}</span>
{{/ noedit}}